:root {
    --primary-color:#FFFFFF;
    --primary-teks-color:#212121;
    --secondary-teks-color:#757575;
    --hero-footer-color:#2F303A;
    --akcent-color:#2196F3;    
    --auth-nav-color:rgba(255, 255, 255, 0.6);
    --button-color-nav:#F5F4FA;
    }
    
    body {
        color: var(--primary-teks-color);
        background-color:var(--primary-color);
        font-family:Roboto,sans-serif;         
        letter-spacing: 0.03em;          
    } 
     
    ul {
        list-style: none;
    }
    
    /* Шапка */
    /* Header  and footer logo */   
    .header-logo,
    .logo-footer,
    .header-title  {
        font-family: Raleway,sans-serif;   
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        text-decoration: none;        
    } 

    .header-logo {
        color: #000000;
    }
    .logo-footer {
        color:var(--primary-color);           
    }
    
    .header-title {
        color:var(--akcent-color);           
        }
    
    
       
    /* Header nav  */
    .header-nav,
    .link   {
        color:var(--primary-teks-color);
        letter-spacing: 0.02em;                  
        font-weight: 500;
        font-size: 14px;
        line-height:1.14;
        text-decoration: none;
          
           
        }
    .header-nav .current {
        color: var(--akcent-color);
    }

     
        .header-nav .link:hover,
        .header-nav .link:focus {
            color:var(--akcent-color);
            }
    
    /* Header auth*/
    .header-auth a {
        color:var(--secondary-teks-color);
        letter-spacing: 0.02em; 
        font-weight: 500;        
        font-size: 14px;
        line-height: 1.14;
        text-decoration: none;
    }
    .header-auth  a:hover,
    .header-auth  a:focus {
        color:var(--akcent-color);
    }
        
    /* Hero */
    /* Hero title*/
    .section-hero {
        background-color:var(--hero-footer-color)
    }
    .hero-title {
        color:var(--primary-color);       
        letter-spacing: 0.06em;         
        text-align: center;
        text-transform: uppercase;        
        font-weight: 900;
        font-size: 44px;
        line-height:1.36;    
    }
     
    /* Hero button */
     
    .hero-btm {
        color: var(--primary-color);
        background-color: var(--akcent-color);    
        font-family:inherit;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.06em;
        cursor: pointer;
        }
   
    .hero-btm:hover,
    .hero-btm:focus {
        color: var(--primary-color);
        background-color: var(--akcent-color);    }   
         

    .hero-btm:active{       
        background-color:#188CE8;
        }
      
    
    /* Sections features */
    
    .title-features {
        color: var(--primary-teks-color);        
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;        
        text-transform: uppercase;
    }
    .features-description {
        color: var(--secondary-teks-color);        
        font-size: 14px;
        line-height: 1.71;         
    }
    
    
    /* Чим ми займаємося */
    /* Наша команда */
    .section-title {
        color:var(--primary-teks-color);        
        font-weight: 700;
        font-size: 36px;
        line-height:1.16;
        text-align: center;         
        }

    .visuali-hidden {
        position: absolute;
        clip: rect(0 0 0 0);
        width: 1px;
        height: 1px;
        margin: -1px;
    } 
    
        .section-avatar{
        color: var(--primary-teks-color);                
        font-size: 16px;
        line-height: 1.18;        
        text-align: center;
        }
        .section-team {
        color: var(--secondary-teks-color);            
        font-size: 16px;
        line-height:1.18;
        text-align: center;          
        }
    
    
    /* Button nav portfolio */
    
    .radio-btn  {
        color:var(--primary-teks-color);
        font-family:inherit;
        font-size: 16px;
        line-height: 1.62;
        cursor: pointer;
        letter-spacing: 0.03em;
          
    }
     
    .radio-btn:hover,
    .radio-btn:focus {
        color:var(--primary-color); 
        background-color: var(--akcent-color);  
    }
        
     
    
    
    .project-title {
        color:var(--primary-teks-color) ;       
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
    }
    
    .project-description {
        color: var(--secondary-teks-color);       
        font-size: 16px;
        line-height: 1.88;      
    }
    
     
     
    /* Footer */
    /*  Footer auth*/
    .footer-auth a {
        color:rgba(255, 255, 255, 0.6);       
        letter-spacing: 0.03em;         
        font-size: 14px;
        line-height: 1.71;
        text-decoration: none;
    }
    .footer {
        background-color:var(--hero-footer-color);
    }
     .footer-addres {        
        font-style: normal;
        font-weight: 400;
     }
    
    .footer-link {
        color: var(--primary-color);
        text-decoration: none;          
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
          
     }
    
    